/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background-color: #34a0a4;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}


.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

/* Cover styles */
.cover {
  background-image: url('./img/cover.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 80px 0;
}

.cover h1 {
  font-size: 36px;
}

.cover p {
  font-size: 18px;
}

/* SearchBar styles */
.search-bar {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.medicine-list {
  max-height: 200px; 
  overflow-y: auto; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
}

.medicine-list div {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.medicine-list div:hover {
  background-color: #f0f0f0;
}



.bill {
  
}

/* BillTable styles */
.bill-table {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bill-table h2 {
  font-size: 24px;
  margin-bottom: 20px;
}


.bill-table button {
  background-color: #052734; /* Coral color for the Remove button */
  color: #fff; /* White text color */
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.bill-table button:hover {
  background-color: #34a0a4; /* Darker shade on hover */
}

.bill-table .print-button {
  
  background-color: #34a0a4; 
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.bill-table .print-button:hover {
  background-color: rgb(14, 82, 103); 
}


table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

/* Footer styles */
.footer {
  background-color: #34a0a4;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
  .nav-links {
    margin-top: 10px;
  }
  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
